<div class="header-bar fixed-top">
  <div class="container">
    <div class="row justify-content-between flex-nowrap">
      <div class="col-auto justify-content-center">
        <div class="row align-items-center flex-nowrap">
          <a class="logo" [routerLink]="['']">
            <img src="assets/images/logo_M.png" alt="M">
          </a>
        </div>
      </div>
      <div class="col-auto">
        <div class="row align-items-center justify-content-end flex-nowrap">
          <form class="d-lg-block d-xl-block d-md-block d-sm-none d-none">
            <mat-form-field>
              <mat-label>Search</mat-label>
              <input matInput placeholder="Type something..." #startWith (keyup)="applyFilter(startWith.value)">
              <mat-icon matSuffix style="cursor: pointer;" [hidden]="startWith.value === ''"
                        (click)="startWith.form.reset(); applyFilter('');">backspace icon
              </mat-icon>
            </mat-form-field>
          </form>
          <a mat-button color="primary" [routerLink]="['new']" *ngIf="checkLogin()">
            <mat-icon>
              playlist_add
            </mat-icon>
          </a>
          <button mat-button color="primary" (click)="performLogout()" *ngIf="checkLogin()">
            <mat-icon>
              lock
            </mat-icon>
          </button>
          <a mat-button color="primary" [routerLink]="['login']" *ngIf="!checkLogin()">Log In</a>
        </div>
      </div>
    </div>
  </div>
</div>
