<header>
  <app-header></app-header>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="container-fluid fixed-bottom">
    <div class="row justify-content-end">
      <div class="col-auto">
        <button mat-raised-button class="btn-contact" (click)="openContactDialog()" [hidden]="contactDialogOpened">
          <mat-icon [inline]="true">
            person
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</footer>
<app-size-detector></app-size-detector>
