
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$unARTig-primary: mat-palette($mat-indigo);
$unARTig-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$unARTig-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$unARTig-theme: mat-light-theme((
  color: (
    primary: $unARTig-primary,
    accent: $unARTig-accent,
    warn: $unARTig-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($unARTig-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --ci-color: #00e9f8;
  --ci-bg-color: #0b2374;
}
body{
  -webkit-font-smoothing: antialiased;
}

.image-dialog{
  mat-dialog-container{
    height: auto;
    width: auto;
    padding: 0;
    app-image-dialog{
      height: inherit;
      width: inherit;
      mat-dialog-content{
        height: inherit;
        width: inherit;
        max-height: none;
        padding: 0;
        margin: 0;
        img{
          z-index: 0;
          max-height: 90vh;
          height: inherit;
          width: inherit;

        }

      }
    }
  }
}

